# Crecimiento Económico y Sostenibilidad
Katlyn Goeujon-Mackness <br>
05/05/2025

## Introducción
En las últimas décadas, el crecimiento económico ha sido un indicador clave del progreso global. Sin embargo, este crecimiento no siempre ha estado alineado con la sostenibilidad ambiental. La creciente emisión de carbono y el limitado uso de energías renovables en muchas regiones generan preocupaciones sobre el impacto de la actividad económica en el futuro del planeta. <br><br>

A través de visualizaciones interactivas y análisis detallado, este estudio buscará responder preguntas fundamentales: ¿Las economías más prósperas son también las más sostenibles? ¿Existen regiones que logren un equilibrio entre crecimiento y protección ambiental? Los hallazgos obtenidos podrán servir como base para recomendaciones de políticas que fomenten un desarrollo económico más responsable y sostenible.

### Objetivo
En este análisis, exploraremos la relación entre el PIB, las emisiones de carbono y el uso de energía renovable, utilizando datos de las Naciones Unidas.

### Teoría
Aplicaremos principios de visualización para crear gráficos claros y comprensibles, basándonos en los enfoques de Gestalt, Tufte y Holmes. Estos métodos permiten estructurar los datos de manera intuitiva, eliminar elementos innecesarios para destacar lo esencial y presentar la información como una historia visual atractiva.

### Los Datos
Se une tres conjuntos de datos para este análisis.
1. GDP, Annual Rate of Growth Per Capita at constant 2015 Prices - US Dollars
2. Carbon dioxide (CO2) Emissions without Land Use, Land-Use Change and Forestry (LULUCF), in kilotonne CO2 equivalent
3. Renewable energy cosumption (% of total final energy comsumption)

## Selección de datos

In [1]:
# Importar librerías
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
# Cargar conjuntos de datos con manejo de errores
gdp_df = pd.read_csv("data/gdp.csv")

In [3]:
emissions_df = pd.read_csv("data/emissions.csv")

In [18]:
renewable_df = pd.read_csv("data/renewable_energy.csv", encoding='ISO-8859-1')

## Preprocesamiento

### GDP/PIB

In [36]:
gdp_df.head()

,Country/Area,Year,Unit,"GDP, Annual Rate of Growth Per Capita at constant 2015 prices - US Dollars"
0,Afghanistan,1970,...,...
1,Afghanistan,1971,Percentage,-2.6683596412266284
2,Afghanistan,1972,Percentage,-18.41845309336326
3,Afghanistan,1973,Percentage,0.32046266698398135
4,Afghanistan,1974,Percentage,2.821770388466028

In [7]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12474 entries, 0 to 12473
Data columns (total 4 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Country/Area                                                                12474 non-null  object
 1   Year                                                                        12474 non-null  int64
 2   Unit                                                                        12474 non-null  object
 3   GDP, Annual Rate of Growth Per Capita at constant 2015 prices - US Dollars  12474 non-null  object
dtypes: int64(1), object(3)
memory usage: 389.9+ KB

In [8]:
# Busca valores unicos de la columna "Unit"
unique_units = gdp_df['Unit'].unique()
print(unique_units)

['...' 'Percentage']

In [37]:
# Elimina columnas no necesarias 
gdp_df.drop(columns=['Unit'], inplace=True)

# Cambiar nombre de columna
gdp_df.rename(columns={"GDP, Annual Rate of Growth Per Capita at constant 2015 prices - US Dollars": "Value", 
                       "Country/Area": "Country"}, inplace=True)

# Cambiar el tipo a tipo númerico y cambiar valores irregulares
gdp_df['Value'] = gdp_df['Value'].replace('...', None).astype(float)

# Manejo de valores nulos
gdp_df.dropna(inplace=True)

In [38]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11273 entries, 1 to 12473
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  11273 non-null  object
 1   Year     11273 non-null  int64
 2   Value    11273 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 352.3+ KB

In [39]:
gdp_df.head()

       Country  Year      Value
1  Afghanistan  1971  -2.668360
2  Afghanistan  1972 -18.418453
3  Afghanistan  1973   0.320463
4  Afghanistan  1974   2.821770
5  Afghanistan  1975   3.670857

### Emisiones

In [12]:
emissions_df.head()

  Country or Area  Year          Value
0       Australia  2020  400333.466600
1       Australia  2019  416761.933416
2       Australia  2018  416283.827446
3       Australia  2017  414358.311524
4       Australia  2016  411264.287715

In [30]:
# Cambiar nombre de columna
emissions_df.rename(columns={"Country or Area": "Country"}, inplace=True)

In [31]:
emissions_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1375 entries, 0 to 1374
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  1375 non-null   object
 1   Year     1375 non-null   int64
 2   Value    1375 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 32.4+ KB

### Energía Renovable

In [14]:
renewable_df.head()

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Afghanistan,AFG,..,..,..,..,..,..,...,17.7,20.2,19.5,18.3,18.9,18.2,20,20,..,..
1,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Albania,ALB,..,..,..,..,..,..,...,38.5,39.4,36.9,37.8,40.1,44.4,41.9,..,..,..
2,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Algeria,DZA,..,..,..,..,..,..,...,0.1,0.1,0.1,0.2,0.2,0.1,0.1,..,..,..
3,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,American Samoa,ASM,..,..,..,..,..,..,...,0.2,0.2,0.3,0.3,0.4,0.4,0.4,0.4,..,..
4,Renewable energy consumption (% of total final...,EG.FEC.RNEW.ZS,Andorra,AND,..,..,..,..,..,..,...,19,18.9,18,17.6,17.2,20.9,18.4,18.7,..,..

In [ ]:
# Drop columns with all NaN or empty values
renewable_df.dropna(axis=1, how='all', inplace=True)


# Elimina columnas no necesarias
renewable_df.drop(columns=['Series Name', 'Series Code', 'Country Code'], inplace=True)

renewable_df.info()

In [21]:
# Cambiar los nombres de los columnas de los años
renewable_df.rename(columns=lambda x: x[:4] if renewable_df.columns.get_loc(x) in range(1, 66) else x, inplace=True)
renewable_df.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,..,..,..,..,..,..,..,..,..,...,17.7,20.2,19.5,18.3,18.9,18.2,20,20,..,..
1,Albania,..,..,..,..,..,..,..,..,..,...,38.5,39.4,36.9,37.8,40.1,44.4,41.9,..,..,..
2,Algeria,..,..,..,..,..,..,..,..,..,...,0.1,0.1,0.1,0.2,0.2,0.1,0.1,..,..,..
3,American Samoa,..,..,..,..,..,..,..,..,..,...,0.2,0.2,0.3,0.3,0.4,0.4,0.4,0.4,..,..
4,Andorra,..,..,..,..,..,..,..,..,..,...,19,18.9,18,17.6,17.2,20.9,18.4,18.7,..,..

In [23]:
# Reestructurar los datos
renewable_df = renewable_df.melt(id_vars=["Country Name"], var_name="Year", value_name="Value")
renewable_df.head()

     Country Name  Year Value
0     Afghanistan  1960    ..
1         Albania  1960    ..
2         Algeria  1960    ..
3  American Samoa  1960    ..
4         Andorra  1960    ..

In [41]:
renewable_df['Value'] = pd.to_numeric(renewable_df['Value'], errors='coerce')

In [42]:
renewable_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17745 entries, 0 to 17744
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  17420 non-null  object
 1   Year          17745 non-null  object
 2   Value         8234 non-null   float64
dtypes: float64(1), object(2)
memory usage: 416.0+ KB

In [ ]:
# Limpia los datos eliminando valores nulos y asegurando formatos uniformes.

In [ ]:
# Fusiona los conjuntos de datos por país y año para facilitar el análisis.
# Fusionar datos por país y año
df = gdp_df.merge(carbon_df, on=['Country', 'Year']).merge(renewable_df, on=['Country', 'Year'])

## Análisis exploratorio

In [ ]:
# Calcula estadísticas descriptivas (media, mediana, tendencias).

In [ ]:
# Identifica correlaciones entre crecimiento del PIB y sostenibilidad.

## Visualización de Datos

In [ ]:
# Gráficos de dispersión para ver la relación entre PIB y emisiones de CO₂.
# 
# # Gráfico de dispersión PIB vs. Emisiones de carbono
plt.figure(figsize=(10, 6))
sns.scatterplot(x=df['GDP Growth'], y=df['Carbon Emissions'], hue=df['Country'])
plt.title("Crecimiento Económico vs. Emisiones de Carbono")
plt.xlabel("Crecimiento del PIB (%)")
plt.ylabel("Emisiones de carbono per cápita")
plt.show()

In [ ]:
# Gráficos de barras para comparar el uso de energía renovable entre regiones.
# 
# # Agregación por región
region_data = df.groupby(['Region']).mean()

# Gráfico de barras Uso de Energía Renovable
plt.figure(figsize=(10, 5))
sns.barplot(x=region_data.index, y=region_data['Renewable Energy'])
plt.title("Uso de Energía Renovable por Región")
plt.xlabel("Región")
plt.ylabel("Energía Renovable (%)")
plt.xticks(rotation=45)
plt.show()

In [ ]:
# Gráficos de líneas para analizar tendencias a lo largo del tiempo.

## Análisis Comparativo

## Interpretación y conclusiones

¿Las economías con mayor crecimiento tienen peores indicadores de sostenibilidad?

¿Existen países con crecimiento económico y bajas emisiones de CO₂?

¿Qué patrones o excepciones se pueden identificar?

In [ ]:
# Conclusiones y recomendaciones
# Hallazgos clave: Explicación de las tendencias observadas.

# Técnicas de visualización utilizadas: Cómo se aplicaron Gestalt, Tufte y Holmes.

# Recomendaciones de política: Sugerencias para un crecimiento económico más sostenible.